body {
    font-family: SEBANG_Gothic, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Noto Sans KR", "Malgun Gothic", 돋움, Dotum, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #9abee7;
    padding: 20px;
    text-align: center;
    top: 0;
    z-index: 1000;
}

header h1 {
    cursor: pointer;
    margin: 0;
    margin-top: 20px;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    align-items: center;
}

header h4 {
    border-bottom: 1px solid rgb(101, 102, 109);
    text-align: center;
    margin: 0;
    align-items: center;
    padding: 10px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* 자식 요소들을 양 끝으로 배치 */
}

#div_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 80%; /* 가로 너비를 설정하여 중앙 정렬이 더 명확하게 보이도록 설정 */
    max-width: 600px; /* 최대 너비 설정 */
}

#div_fields {
    width: 22%;
    padding-right: 1rem;
    margin-right: 1rem;
}

.fields-label {
    /* margin-top: 0; */
    font-size: 1rem;
    padding: 20px;/* h2와 체크박스 그룹 사이의 간격 추가 */
    font-weight: bold;
}

.checkbox-group {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.checkbox-group label {
    width: 45%;
    margin-bottom: 0.5rem;
}

.checkbox-column {
    min-width: 100px;

}


.checkbox-group label input[type="checkbox"] {
    margin-right: 5px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.row label {
    flex: 0 0 70px; /* 레이블의 너비를 고정 또는 비율로 설정 */
}

.search-button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #007B9E;
}

.download-button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #007B9E;
}

.search-button,
.download-button {
    /* 원하는 스타일링 추가 */
    margin-left: 10px; /* 버튼 사이 간격 */
}

.filter-group input[type="date"],
.filter-group select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1rem;
}

.filter-group input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1rem;
    width: 100%;
}

#div_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.top-tables {
    width: 23%;
    margin-top: 20px;
    flex-direction: row;
}

.top-tables h2 {
    font-size: 1.1em;
    white-space: nowrap; 
    text-overflow: ellipsis;
    max-width: 100%; /* 최대 너비를 설정하여 텍스트가 잘리지 않도록 함 */
}

.tables {
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#div_table_container,
#div_paper_table_container {
    width: 100%;
}

.scrollable-table {
    overflow-y: auto;
    max-height: 400px;
    position: relative;
    margin-bottom: 20px;
}

.scrollable-table thead th {
    position: sticky;
    top: 0;
    background: #f1f1f1;
    z-index: 1;
    border: 1px solid black; /* 테두리를 1px 두께의 검은색 실선으로 설정합니다 */
    padding: 8px;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

table th,
table td {
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    font-weight: bold;
    text-align: center;
}

table td:nth-child(1) {
    width: calc(1.5 * 200px); /* 이전 너비의 1.5배 */
}

table td:nth-child(6) {
    max-width: 200px;
}

h2 {
    font-size: 1.1em;
}

.label {
    font-size: 1.3em;
}

.content {
    font-size: 1.1em;
}

footer {
    background-color: #9abee7;
    color: #070707;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    bottom: 0;
    left: 0;
}
