<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI 특허 검색</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <h4>인공지능 특허 알아보기</h4>
        <img src="{{ url_for('static', filename='image/example.png') }}" class="header-image" width="50" height="50">
        <h1 onclick="window.location.reload()">AI 특허 검색</h1>
    </header>
    <section class="filter-section">
        <div class="filters">
            <form id="searchForm" method="POST" action="{{ url_for('search') }}">
                {{ form.hidden_tag() }}
                <div class="row">
                    <label for="filter">필터:</label>
                    <select id="filter" name="filter">
                        <option value="general">전체</option>
                        <option value="medical">출원인</option>
                        <option value="e-commerce">카테고리</option>
                    </select>
                    <label for="keyword">검색어:</label>
                    <input type="text" id="keyword" name="keyword" value="{{ form.keyword.data }}">
                </div>
                <div class="row">
                    <label for="start-date">출원일자:</label>
                    <input type="date" id="start-date" name="start-date" value="{{ form.applicate_date.data }}">
                    <span>~</span>
                    <input type="date" id="end-date" name="end-date" value="{{ form.applicate_date.data }}">
                    <button type="submit" class="search-button">검색</button>
                </div>
            </form>
        </div>
    </section>
    
    <div class="data-container">
        <h2>검색 결과</h2>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <ul>
                {% for patent in patents %}
                    <li>
                        <h3>{{ patent['title'] }}</h3>
                        <p>출원번호: {{ patent['ap_num'] }}</p>
                        <p>출원인: {{ patent['applicant'] }}</p>
                        <p>출원일자: {{ patent['application_date'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="checkbox-section">
        <h3>응용분야</h3>
        <ul>
                <li><input type="checkbox" id="general" name="general"><label for="general"> 제너럴</label></li>
                <li><input type="checkbox" id="medical" name="medical"><label for="medical"> 의료</label></li>
                <li><input type="checkbox" id="e-commerce" name="e-commerce"><label for="e-commerce"> 전자·상거래</label></li>
                <li><input type="checkbox" id="automotive" name="automotive"><label for="automotive"> 자동차</label></li>
                <li><input type="checkbox" id="finance" name="finance"><label for="finance"> 금융</label></li>
                <li><input type="checkbox" id="education" name="education"><label for="education"> 교육</label></li>
                <li><input type="checkbox" id="agriculture" name="agriculture"><label for="agriculture"> 농업</label></li>
                <li><input type="checkbox" id="entertainment" name="entertainment"><label for="entertainment"> 엔터테인먼트</label></li>
                <li><input type="checkbox" id="security" name="security"><label for="security"> 보안</label></li>
                <li><input type="checkbox" id="automation" name="automation"><label for="automation"> 자동화시스템</label></li>
                <li><input type="checkbox" id="semiconductor" name="semiconductor"><label for="semiconductor"> 반도체</label></li>
        </ul>
    </div>
    
    <footer>
        <p>My AI List &copy; 4조</p>
    </footer>
    
</body>
</html>


    

</body>
</html>
